* {
  box-sizing: border-box;
  font-size: 16px;
  color: #212121;
}

body {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Roboto Slab', serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: 4px;
  &--white {
    background-color: #fff;
  }
}
